.bubble {
    display: flex;
    margin-bottom: .5rem;
    flex-direction: column;
}

.bubble-content {
    max-width: 80%; 
    padding: 0.8rem; 
    border-radius: 12px;
    text-align: left;
}

.outgoing {
    background-color: #1890ff;
    color: #fff;
    align-self: flex-end; 
}

.incoming {
    background-color: #f0f0f0;
    color: #000;
    align-self: flex-start; 
}

.bubble .timestamp {
    font-size: 0.75rem;
    margin-top: 0.5rem;
    text-align: right;
}

.motion-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.motion-div .anticon {
    font-size: 2rem;
}

.pictogram-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}