.bubble {
    padding: 10px 15px;
    margin-bottom: 10px;
    display: flex;
    min-width: 100px;
    align-items: flex-end;
}

.bubble-content {
    border-radius: 15px;
    padding: 10px;
    position: relative;
    line-height: 1.5;
    word-break: break-word;
}

.bubble-content.outgoing {
    background-color: var(--ant-blue-8); /* Colore principale del tema */
    color: var(--ant-color-text-light-solid);
    border: 1px solid var(--ant-color-info); /* Colore del bordo */
    align-self: flex-end;
    margin-left: auto;
}

.bubble-content.incoming {
    background-color: var(--ant-blue-2);
    color: var(--ant-color-text-base);
    border: 1px solid var(--ant-border-color);
    align-self: flex-start;
    margin-right: auto;
}

.timestamp {
    color: var(--ant-text-color-secondary); /* Colore secondario */
    text-align: right;
    margin-top: 5px;
}

.message {
    white-space: pre-wrap;
    word-wrap: break-word;
}
